*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(14px,1vw,18px);

}
section{
    max-width: 1900px   ;
}
@mixin flex-column($gap:0){
    display: flex;
    flex-direction: column;
    gap: $gap;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    section.view1{
        width: 100%;
        @include flex-column(3.5rem);
        padding: 2.75rem 1.75rem;
        background-color: #f3fcff;
        text-align: center;

        .top{
            width: 100%;
            @include flex-column(4.75rem);
             padding: 1rem;

             img{
                object-fit: cover;

             }
             h1{
                font-size: 3.5rem;
                font-weight: 700;
                line-height: .9;
             }

        }
        .bottom{
            width: 100%;

            h2{
                font-size: 2rem;
                font-weight: 400;

            }
        }
    }
    section.view2{
        width: 100%;
        @include flex-column(3.5rem);
        padding: 2.75rem 1.75rem;
        text-align: center;

        .card{
            width: 100%;
             @include flex-column(1.3rem);
             padding: 1rem 0;
             border-top: 4px solid #e8eaed ;
             text-align: left;

             h3{
                font-size: 1.75rem;
                
                
             }
             p{
                font-size: 1.3rem;
                color: #504a50;
                margin: 0 0 2.5rem 0;
             }

        }

    }
    section.view3,section.view4,section.view5,section.view6,section.view7{
           width: 100%;
        @include flex-column(3.5rem);
        padding: 2.75rem 1.75rem;
        
        .top{
            width: 100%;

            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .bottom{
            width: 100%;
             @include flex-column(1rem);
            padding: .75rem 0;

            .text{
                @include flex-column(1rem);

                .hgroup{
                    @include flex-column(1rem);
                    h4{
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: #8a4a4a;
                    }
                    h3{
                        font-size: 3rem;
                        padding: 0 0 0 .3rem;
                    }
                }
                p{
                    font-size: 1.2rem;
                    font-weight: 400;
                }
            }
            .buttons{
                 @include flex-column(1rem);
                
                 button{
                    width: fit-content;
                    padding: 1rem 3.2rem;
                    background-color: transparent;
                    font-size: 1.2rem; 
                    color: blueviolet;
                    outline: 1px solid blue;
                    border: none;
                    border-radius: 2rem;
                 }
                 
                 span{
                        font-size: 1rem;
                        font-weight: 800;
                        padding: 0 0 0 1.8rem;
                 }
            }
        }
    }
    section.view4,section.view6{
        background-color: #f5fbfe;
        .bottom{
            .buttons{
                 button{
            background-color: blueviolet;
            color: #fff;
            }
           
        }
        }
        
    }
    section.view7{
        width: 100%;
        padding: 2rem;
        .bottom-top{
            background-color: #042449;
        overflow: hidden;
        border-radius: 2rem;
        position: relative;

         img{
            width: 100%;
           
        
         }
        }
        .bottom{
            position: absolute;
            padding: 1.9rem;
            color: #fff;
            top: 419rem;
            
            .buttons{

                button{
                    background-color: #fff;
                    color: #042449;
                }
            }
        }
    }
}

@media (min-width:900px){
    main{
        section.view1{
            padding: 1rem 4rem;

            .top{
                flex-direction: row-reverse;
                padding: 3.5rem;

                img,h1{
                    width: 50%;
                }
                h1{
                    display: flex;
                    align-items: center;
                    text-align: left;
                }
            }
        }
        section.view2{
            flex-direction: row;
            padding: 1rem 5.5rem;
            .card{
                width: 30%;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        section.view3 ,section.view4,section.view5 ,section.view6{
            flex-direction: row-reverse;
            padding: 1rem 5.5rem;
            align-items: center;
             
            .bottom{
                width: 100%;

                .buttons{
                flex-direction: row;
                align-items: center;

                button,span{
                    width: 50%;
                }
            }
            }
            
        }
        section.view4,section.view6{
            flex-direction: row;
            
        }
        section.view7{
            height: 350px;
           flex-direction: row-reverse;
           gap: 0;
            .bottom-top , .bottom{
                width: 50%;
            }
            .bottom-top{
                border-radius: 0 2rem 2rem 0;
            }
            .bottom{
                position: unset;
                border-radius: 2rem 0 0 2rem;
                background-color: #042449;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding: 0 0 0 15rem;
                
            }

        }
    }
}