*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 400px;
    aspect-ratio: 1/1;
    box-shadow: 0px 0px 10px red ;
    border-radius: 2rem;
    scale: .9;
    transition: all .3s linear;
    padding: .2rem;
}
@keyframes chbgc{
     0%{
        background: conic-gradient(from 40deg, rgb(90, 66, 66), red, rgb(128, 128, 216));
    }
    30%{
        background: conic-gradient(from 60deg, rgb(90, 66, 66), red, rgb(128, 128, 216));
    }
    80%{
        background: conic-gradient(from 120deg, rgb(90, 66, 66), red, rgb(128, 128, 216));
    }
    100%{
        background: conic-gradient(from 180deg, rgb(90, 66, 66), red, rgb(128, 128, 216));
    }
}
.box:hover{
    animation: chbgc 1s infinite alternate;
    scale: 1;
    box-shadow: 0 0 0 0;
}
.innerbox{
    width: 100%;
    background-color:  rgb(5 4 9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      border-radius: 2rem;
    
}
.innerbox img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
      border-radius: 2rem 2rem 0 0;

}
h3{
    font-family: monospace;
    font-size: 3rem;
     text-shadow: 5px 5px 1px red;
     color: #fff;
}