*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    // height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    
}

main{
    width: 100%;
    // height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "s1 s2 s2 s2 "
                         "s1 s3 s4 s5 ";
   
    gap: 15px;
    background-color: #000;
    padding: 10px;

    

    section{
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        border: none;
        aspect-ratio: 16/ 9;
        overflow: hidden;
        cursor: pointer;
        transition: transform 0.5s ease, box-shadow 0.5s ease, filter 0.5s ease;
    }

     section:hover {
        transform: scale(.95);
        filter: brightness(80%);
        box-shadow: 0 0 20px 4px rgba(255, 255, 255, 0.4); 
    } 
    .s1{
        grid-area: s1;
        aspect-ratio: 2/ 5; 
        background-image: url(https://plus.unsplash.com/premium_photo-1711434824963-ca894373272e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fG5hdHVyZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=500);
    }
    .s2{
        grid-area: s2;
        background-image: url(https://images.unsplash.com/photo-1501854140801-50d01698950b?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1575);
    }
    .s3{
        grid-area: s3;
        background-image: url(https://images.unsplash.com/photo-1719583276552-c6e316ef13dd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YW5pbWFsJTIwaW4lMjBqdW5nbGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500);
    }
    .s4{
        grid-area: s4;
        background-image: url(https://media.istockphoto.com/id/953893978/photo/chameleon-on-tree.webp?a=1&b=1&s=612x612&w=0&k=20&c=l7qVRujBpyiCRkwzzqUc22UX84LcLh9eGh4MVoIqCJQ=);
    }
    .s5{
        grid-area: s5;
        background-image: url(https://media.istockphoto.com/id/1486969411/photo/scarlet-macaw.webp?a=1&b=1&s=612x612&w=0&k=20&c=FuwyWxmdWqLIkHBuWGi72_eEwp6Jc90HJfrbJRQc2lY=);
    }
}